<div class="menu-mobile">
    <li><img class="logo" src="assets/logo.svg" routerLink="" alt=""></li>
    <li><a routerLink=""  class="menu-items">ENERGIN</a></li>
    <li><a routerLink=""  class="menu-items"><img class="logo" src="assets/back.svg" routerLink=""  alt=""></a></li>
</div>
<!--MENU-->
<div class="menu" id="home">
    <ul class="menu-geral" style="list-style:none;">
        <li><img class="logo" src="assets/logo.svg" routerLink=""></li>
        <li><a href="../index.html" class="menu-items">QUEM SOMOS</a></li>
        <li><a href="../index.html" class="menu-items">NOSSOS VALORES</a></li>
        <li><a href="../index.html" class="menu-items" id="menu-items">SERVIÇOS</a></li>
        <li><a href="../index.html" class="menu-items">CAMPOS</a></li>
      </ul>
</div>

<header>
    <h1>ENERGIN</h1>
    <H2>Subestação</H2>
    <p class="p-header">Nossa empresa é especializada em serviços de subestação, oferecendo soluções confiáveis e eficientes para atender às necessidades dos clientes.</p>
    <br>
    <p class="p-header">Com capacidade para carregar múltiplos veículos simultaneamente, essas estações oferecem conveniência e eficiência para os proprietários de carros elétricos.Nossos serviços abrangem desde o projeto e construção de novas subestações até a modernização e manutenção de instalações existentes. Contamos com uma equipe experiente de engenheiros e técnicos altamente qualificados, que possuem amplo conhecimento em subestações de diferentes capacidades e configurações.</p>
</header>

<a href="https://wa.me/5592991980877" target="_blank" class="whatsapp">
    <img src="assets/whatsapp.svg" alt="" class="float">
</a>

<main>
    <div class="general-cards">
        <div class="card-1"></div>
        <div class="card-2"></div>
        <div class="card-3"></div>
        <div class="card-4"></div>
        <div class="card-5"></div>
        <div class="card-6"></div>
        <div class="card-7"></div>
        <div class="card-8"></div>
        <div class="card-9"></div>
    </div>
</main>
<footer>

    <div class="square">
        <div class="contact">
            <p class="email">energin.amazonia@gmail.com</p>
            <p class="number">(92) 3232-7652</p>
        </div>
        <div class="icons">
            <a href="https://www.linkedin.com/company/energin-da-amaz%C3%B4nia-ltda/" target="_blank"><img src="assets/linkedin.svg" alt="" class="icon"></a>
            <a href="https://www.instagram.com/energin.amazonia/" target="_blank"><img src="assets/instagram.svg" alt="" class="icon"></a>
        </div>
        <div class="adress">
            <hr>
            <p>R. Prof. Castelo Branco, 2, CJ JARDIM YOLANDA - Parque 10 de Novembro, Manaus - AM, 69055-090</p>
            <div class="projex">
                <img src="assets/projex_logo.svg" alt="" class="logo-footer">
                <a href="" target="_blank" class="made-by">Todos os direitos reservados, Projex Consulting</a>
            </div>
        </div>
    </div>
    
</footer>